.homepage{
  border-top: 1px solid white;
  background-color: #2E3B55;
  height: 100vh;

  .main-text{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
    //font-family: 'monospace';
  }

  .items{
    display: flex;
    flex-wrap: wrap;

    .item{
      flex: 0 0 33.333333%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  .home-footer{
    justify-content: center;
    vertical-align: center;
    align-items: center;
    justify-items: center;
  }
}